html,body{
  height: 100%;
  margin: 0;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }


  .carousel{
      height:100%;
  }

#demo{
    height:95%;
    margin: 0 auto;
    z-index: 0;
}
#demo-act{
    height:250px;
    margin: 0 auto;
}
.topnav {
    background-color: #333;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding-top:5px;
    overflow: hidden;
    height: 5%;
    z-index:1;
  }

  .destination-nav{
      /* background-color: #333; */
    background: rgba(0,0,0,0.5);

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height:5%;
    margin-left:25%;
    width:50%;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 15px 8px 15px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        margin-right:30px;
        margin-bottom: 30px;
    }

        .sidenav .sidebar-icon:hover {
            color: white;
        }

    .sidenav .close-btn {
        position: absolute;
        top: 0;
    }
    .sidebar-icon{
        color:#333;
    }
    .sidebar-icon-active{
        color:white;
    }

#menu-btn {
     font-size: 20px; 
    cursor: pointer;
    /* position: fixed; */
    left: 35px;
    /* color:white; */
    color: rgba(255,255,255,0.4);

    padding-top:5px;
    padding-bottom:5px;
}
#menu-btn:hover{
    color:white;
}

.prev-destination-card{
    left:0;
    position:fixed;
    width: 12.5%;
    height:95%;
    
}

.prev-card-arrow{
    color: rgba(255,255,255,0.4);
    font-size: 30px;
    margin-left: 50%;
}
.prev-card-arrow :hover{
    color: white;

}


.next-destination-card{
    right:0;
    position:fixed;
    width: 12.5%;
    height:95%;
}

.next-card-arrow{
    color: rgba(255,255,255,0.4);;
    font-size: 30px;
    margin-top: 50%;
    margin-left:50%;
}
.next-card-arrow :hover{
    color:white;
}

.wrapper{
    padding: 2%;
    width:75%;
    margin-left:13.5%;
    /* background: rgba(255,255,255,0.4); */
    position: absolute;
    top: 5%;
    bottom: 0;
    display: inline-block;
}

.contact-wrapper{
    padding: 2%;
    width:90%;
    margin-left:5%;
    /* background: rgba(255,255,255,0.4); */
    position: absolute;
    top: 5%;
    bottom: 0;
}

.destination-card{
    padding: 2%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top:40px;
    border-radius: 50px;

}
h1,h3{
    text-align: center;
    /* font: 400 30px/0.8 'Great Vibes', Helvetica, sans-serif !important; */
    color: white !important;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1) !important; 
    /* font-size: 80px !important; */
    /* margin-bottom: 50px !important; */
}
h5{
    color: white !important;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1) !important; 
}
p{
    text-indent: 50px;
    /* font: 400 30px/0.8 'Great Vibes', Helvetica, sans-serif !important; */
    color: black !important;
    /* font-size: 30px !important; */
}
/* 
.description{
    padding: 2%;
    width:100%;
    height:30%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom:40px;
} */

.nav-link{
    color: rgba(255,255,255,0.4);
}


.nav-link:hover{
    color:white;
}

.destination-content{
    margin-bottom:20px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding:4%;
    width:80%;
    margin-left:10%;
}
.destination-content-img{
    margin-bottom:20px;
    background-color: #333;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding:3px;
    width:80%;
    margin-left:10%;
}

.contact{
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding:4%;
    /* width:60%;
    margin-left: 20%; */

}

.video{
    width: 50%;
    margin-left:25%;
}

.table-img{
    width:100%;
    height:100%;

}
/* .table-img-act{
    width:100%;
} */
.table-img:hover{
    opacity: 0.7;
}
td{
    padding:3px !important;
    width:23%;
    height: 200px;
}
h2{
    text-align: center;
}

button{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

#map {
    width: 100px;
    height: 400px;
    background-color: grey;
  }


  .map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }







    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      /* Modal Content (Image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      /* Caption of Modal Image (Image Text) - Same Width as the Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation - Zoom in the Modal */
      .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: white !important;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: white !important;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
      }


/* 

      .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      } */